<div class="modal-content">
  <div class="modal-header">
    <h5 id="confirmDeleteTitle" class="modal-title">Confirmar exclusão</h5>
    <button type="button" class="btn-close" aria-label="Fechar" (click)="onCancel()"></button>
  </div>
  <div class="modal-body">
    <p>Tem certeza que deseja excluir as tarefas selecionadas?</p>
    <p>Esta ação não pode ser desfeita.</p>
  </div>
  <div class="modal-footer">
    <app-secondary-button
      [label]="'Cancelar'"
      [type]="'button'"
      (clicked)="onCancel()"
    ></app-secondary-button>
    <app-primary-button
      appFocusDialogButton
      [label]="'Excluir'"
      [type]="'button'"
      (clicked)="onConfirm()"
    ></app-primary-button>
  </div>
</div>
