<div class="dashboard-page page-background page-with-header">
  <main class="container py-4">
    <div class="row">
      <div class="col">
        <app-task-cards-panel
          #taskCardsPanel
          [tasks]="tasks()"
          [isLoading]="isLoadingTasks()"
          (tasksDeleted)="onTasksDeleted($event)"
          (taskEdit)="onTaskEdit($event)"
        />
      </div>
    </div>
  </main>

  @if (taskCardsPanel.hasSelectedTasksForActions() && (taskCardsPanel.isBelowMdViewport() || !taskCardsPanel.isHeaderActionsVisible())) {
    <app-clear-selection-floating-button
      (clearSelectionClick)="taskCardsPanel.clearSelectedTasks()"
    />

    <app-edit-selected-floating-button
      [disabled]="taskCardsPanel.selectedTasksCount() !== 1"
      (editSelectedClick)="taskCardsPanel.editSelectedTask()"
    />

    <app-delete-selected-floating-button
      (deleteSelectedClick)="taskCardsPanel.deleteSelectedTasks()"
    />
  }

  <app-add-task-floating-button (taskCreated)="onTaskCreated($event)" />
</div>
