<button
  type="button"
  class="floating-action-btn no-select"
  matRipple
  [attr.aria-label]="ariaLabel()"
  [matTooltip]="tooltip()"
  [matTooltipDisabled]="isTooltipDisabled()"
  [matTooltipPosition]="tooltipPosition()"
  [disabled]="disabled()"
  [style.bottom]="bottom()"
  [style.right]="right()"
  [style.--fab-mobile-bottom]="mobileBottom()"
  [style.--fab-mobile-right]="mobileRight()"
  [style.--fab-size]="size()"
  [style.--fab-mobile-size]="mobileSize()"
  [style.--fab-icon-size]="iconSize()"
  [style.--fab-bg]="backgroundColor()"
  [style.--fab-outline-color]="outlineColor()"
  (click)="onClick()"
>
  <mat-icon aria-hidden="true">{{ icon() }}</mat-icon>
</button>
