<div class="login-page">
  <div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="login-card col-12 col-sm-10 col-md-8 col-lg-5 col-xl-4">
      <div class="row mb-4">
        <div class="col">
          <h1 class="h3 text-center">Login</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <app-auth-form
            [form]="form"
            [loading]="loading()"
            [errorMessage]="errorMessage()"
            (loginSubmitted)="onLogin()"
            (registerRequested)="onRegister()"
          ></app-auth-form>
        </div>
      </div>
    </div>
  </div>
</div>
